@page "{movieId:int}"
@model DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Movie.Title</h2>
<div>
    Id: @Model.Movie.Id
</div>
<div>
    Location: @Model.Movie.Location
</div>
<div>
    Genre: @Model.Movie.Genre
</div>

<a asp-page="./List" class="btn btn-default">All Movies</a>